/* 

	KETERANGAN PINDAH

*/
*{
	margin:0;
    padding:0;
    font-family: 'Times New Roman';
}
body{
	/* border:1px solid black; */
	width:80%;
	margin:80px auto;
	height:25.7cm;
}

.header-ket{
	display:flex;
	justify-content:space-between;
	/* border:1px solid black; */
}

.left-logo{
	padding-right:30px; 
	/* border:1px solid black; */
}

.left-logo img {

	width: 46px !important;

}
.right-logo{
	padding-left:30px;
	/* border:1px solid black; */
}
.center-content{
	/* border:1px solid black; */
	width:100%;
	text-align:center;
}

.address-school p{
	font-size:0.7em;
	text-align:center;
}
.italic{
	font-style: italic;
}
hr{
	margin-top:5px;
	border: 2px solid black;;
}

main{
	margin-top:15px;
}
.ket h4{
	text-decoration:underline;
	text-align:center;
}
.ket{
	text-align: center
}

.ket span{
	padding-right:50px;
}

.section-data{
    margin-top:40px;
}

.section-data table{
    margin-top: 50px;
    padding-left: 40px;
}

.section-data table tr td:first-child{
    padding-right: 40px;
}
.section-data table tr td:last-child{
	text-transform: capitalize;
}
.section-data p{
	margin-bottom: 5px;
	font-size: 1em;
}
.section-data p span{
    font-weight: bold;
}
.alasan{
	text-transform: capitalize;
}
.section-kepsek{
    display: flex;
    text-align: right;
    flex-direction: column;
	align-items: flex-end;
}
.wrap-kepsek{
	text-align: left;
	margin-right:50px;	
}
.section-kepsek p:first-child{
    margin-bottom: 50px;
}

.ket-per{
	text-align: justify;
}

#pemohon tr td:nth-child(2) {
	padding-left: 80px;
}
#pemohon p{
	margin: 20px 0px;
}
#catatan{
	margin-top: 20px;
	font-size: 0.9em;
}
#ket-waktu span{
	font-weight: normal;
	padding-right: 40px;
}