body {
	margin:0;
	padding:0;
	font-family: sans-serif;
	background:#576574;
}
.box{
	width: 300px;
	height:;
	padding: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
	background: rgba(0,0,0,0.3);
	border-radius: 15px;
	box-shadow: 5px 5px 20px 6px black;
}
.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}
.box input[type="text"],.box input[type="Password"]{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #3498db;
	padding: 12px 10px;
	width: 190px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.50s;
}
.box input[type="text"]:focus,.box input[type="Password"]:focus{
	width: 280px;
	border-color:#2ecc71;
}
.box input[type=submit]{
	border:0;
	background:none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #2ecc71;
	padding: 8px 24px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type=submit]:hover{
	background: #2ecc71;
}
input {
	font-size: 20px;
	letter-spacing: 1px;
}